<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}
  {%block title%} Cart page {%endblock title%}

<body>
{%block content%}
<section id="cart">
  <div class="cart-top">
    <img src="{% static 'images/cart-top-img.svg'%" class="cart-image" alt="">
  </div>
  <div class="row g-4 cart-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
      <div class="cart-border-left">
        <h2 class="cart-heading">CART ITEMS</h2>
        <hr class="cartHeading-line">
        <div class="listItems">
          {%for item in cart.cartitems.all%}
          <div class="item" id="main_item_{{item.product.id}}">
            <div class="cartItem-image">
              <img src="{{item.product.product_img_1.url}}" alt="">
            </div>
            <div class="cartItem-name">
              {{item.product.product_name}}
            </div>
            <div class="cartItem-price">
              {{item.product.product_price|currency}}
            </div>
            <div class="cartItem-quantity">
                <button><span id="{{item.product.id}}" class="minus rm_from_cart">-</span></button>
                <span id="main_quantity{{item.product.id}}">{{item.quantity}}</span>
                <button><span id="{{item.product.id}}" class="plus  add_to_cart">+</span></button>
              </div>
            </div>
          {%endfor%}
          </div>
          {%if cart.num_of_item <= 0 %}
          <p> Your Cart is currently empty</p>
          </div>
        </div>
          {%else%}
        </div>
        <br>
      <div class="cart-btn">
        <a href="{% url 'delete-cart' %}"><button  class="delete-all">CLEAR CART</button></a>
      </div>
    </div>
      {%endif%}

    <!-- CART SUMMARY SECTION -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <div class="cart-border-right">
        <h2 class="cart-heading">CART SUMMARY</h2>
        <hr class="cartHeading-line">
        <div class="cart-item-details">
          <hr class="item-line">
          <div class="mainproduct-detail">
            <h4 class="cart-summary">Number of Items:</h4>
            <h4 class="cart-summary" id="main_no_of_cart_items">X{{cart.num_of_item}}</h4>
          </div>
          <div class="mainproduct-detail">
            <h4 class="cart-summary">Sub Total:</h4>
            <h4 class="cart-summary" id="main_total_cart_sum">{{cart.total_cart_sum.1}}</h4>
          </div>
          <div class="mainproduct-detail">
            <h4 class="cart-summary">Discount:</h4>
            <h4 class="cart-summary" id="main_total_cart_sum_discount">{{cart.total_cart_sum_discount.1}}</h4>
          </div>
          <div class="mainproduct-detail">
            <h4 class="cart-summary">Shipping:</h4>
            <h4 class="cart-summary" id="main_total_cart_sum_shipping_fee">{{cart.total_cart_sum_shipping_fee.1}}</h4>
          </div>
        </div>
        <div class="cart-item-total">
          <hr class="item-line">
          <div class="price-info">
            <h4 class="mainproduct-price">TOTAL:</h4>
            <h4 class="mainproduct-price" id="main_total_checkout_cost">{{cart.total_checkout_cost.1}}</h4>
          </div>
        </div>
        {%if cart.num_of_item > 0 %}
        <button type="submit" class="payment-button">PROCEED TO CHECKOUT</button>
        {%endif%}
      </div>
    </div>
  </div>
</section>
    {%endblock content%}
</body>
</html>