<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}
  {%block title%} Cart page {%endblock title%}

<body>
{%block content%}
 <!-- shopping cart dropdown -->
 <div class="cartTab">
  <h2 class="cart-title">SHOPPING CART</h2>
  <div class="listCart">
    {%for item in cart_items%}
    <div class="item">
      <div class="item-image">
        <img src="media/{{item.product.product_img_1}}" alt="">
      </div>
      <div class="item-name">
        {{item.product.product_name}}
      </div>
      <div class="item-price">
        N{{item.product.product_price}}
      </div>
      <div class="item-quantity">
        <button id="rm_from_cart"><span title="{{item.product.id}}" class="minus">-</span></button>
        <span>{{item.quantity}}</span>
        <button id="add_to_cart"><span title="{{item.product.id}}" class="plus">+</span></button>
      </div>
    </div>
    {%endfor%}
  <div class="cart-btn">
    <button class="closeCart"> CLOSE</button>
    <button class="checkOut"> CHECK OUT</button>
  </div>
</div>
</div>
    {%endblock content%}
</body>
</html>