<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}
  {%block title%} Cart page {%endblock title%}

<body>
{%block content%}
<section id="profile">
 <!-- shopping cart dropdown -->
 <div class="cartTa">
  <h2 class="cart-title">SHOPPING CART</h2>
  <div class="listCart">
  {%if cart.num_of_item > 0%}
  <a href="{% url 'delete-cart' %}"><button>Clear Cart</button></a>
  {%endif%}
    {%for item in cart.cartitems.all%}
    <div class="item">
      <div class="item-image">
        <img src="../../media/{{item.product.product_img_1}}" alt="">
      </div>
      <div class="item-name">
        {{item.product.product_name}}
      </div>
      <div class="item-price">
        ₦{{item.product.product_price}}
      </div>
      <div class="item-quantity">
        <button><span id="{{item.product.id}}" class="minus refresh-cart rm_from_cart">-</span></button>
        <span>{{item.quantity}}</span>
        <button><span id="{{item.product.id}}" class="plus refresh-cart add_to_cart">+</span></button>
      </div>
      <div>
       qty_cost: ₦{{item.total_item_price}}
      </div>
    </div>
    {%endfor%}
    <div>TOTAL ORDER:  ₦{{cart.total_cart_sum}}</div>
  <div class="cart-btn">
    <button class="closeCart"> CLOSE</button>
    <button class="checkOut"> CHECK OUT</button>
  </div>
</div>
</div>
  
</section>
    {%endblock content%}

</body>
</html>