<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% load static %}
    {%block title%} Cart page {%endblock title%}
  
  <body>
  {%block content%}

   <!-- Favourite -->

   <section id="favourite">
    <div class="cart-top">
        <img src="{% static 'images/Favourite-img.svg'%}" class="cart-image" alt="">
    </div>
    {% if messages %}
        {% for message in messages%}
          <div class="alert alert-{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
    <div class="listFavourite">
        {% for prod in saved_items %}
      <div class="favourite">
        <div class="favourite-image">
          <img src="../../media/{{prod.product.product_img_1}}" alt="">
        </div>
        <div class="favourite-name">
          {{prod.product.product_name}}
        </div>
        <div class="favourite-price">
          ₦{{prod.product.product_price}}
        </div>
        <div class="favourite-quantity">
          <a href=""><button type="button" class="favourite-addtocart add_to_cart" id="{{prod.product.id}}" >ADD TO CART<i class="bi bi-cart2 cart1"></i></button></a>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill rm_from_fav" id="{{prod.product.id}}"></i>  
        </div>
      </div>
      {%endfor%}
    </div>
    {% if saved_items|length > 0 %}
    <div class="cart-btn">
      <a href="{% url 'delete-all-fav' %}"><button  class="delete-all">DELETE ALL</button></a>
    </div>
    {%else%}
    <h2>You currently do not have any saved items</h2>
    {%endif%}
   </section>
{%endblock content%}
</body>
</html>