<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% load static %}
    {%block title%} Cart page {%endblock title%}
  
  <body>
  {%block content%}

   <!-- Favourite -->

   <section id="favourite">
    <div class="cart-top">
        <img src="images/Favourite-img.svg" class="cart-image" alt="">
    </div>
    <div class="listFavourite">
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
      <div class="favourite">
        <div class="favourite-image">
          <img src="./images/Orange-gown.png" alt="">
        </div>
        <div class="favourite-name">
          irish Silky Gown
        </div>
        <div class="favourite-price">
          N20,000
        </div>
        <div class="favourite-quantity">
          <button type="button" class="favourite-addtocart">ADD TO CART<i class="bi bi-cart2 cart1"></i></button>
        </div>
        <div class="delete-button">
          <i class="bi bi-trash-fill"></i>  
        </div>
      </div>
    </div>
    <div class="cart-btn">
      <button class="delete-all">DELETE ALL</button>
    </div>
   </section>
{%endblock content%}
</body>
</html>