{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    <link rel="shortcut icon" href="{%static 'images/NaestPoint-favicon.ico' %}" />
{% endblock extrahead %}

{% block extrastyle %}{{ block.super }}
<style>

:root {
    --primary:#145d46;
    --secondary: #145d46;
    --link-hover-color: #036;

    --link-fg: #2e7a62;
    --link-selected-fg: #5b80b2;

    --body-fg: #333;
    --body-bg: #fff;

    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: white;
    --header-color: white;

    --accent: white;
    --selected-row: #e7f6e7;
    --default-button-bg: #145d46;
    --button-bg: #2e7a62;
}

</style>
{%endblock extrastyle%}

</html>