
<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}
  {%block title%} {{product}} @ NaestPoint {%endblock title%}

<body>
{%block content%}
  <section id="single-product">
    {% if messages %}
        {% for message in messages%}
          <div class="alert alert-{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
    <div class="row g-4 images">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 product-card">
            <div class="main-image">
              <div class="collectionTag-box">
                <img src="{{product.collection.collection_tag.url}}" class="collection-tag" alt="">
              </div>
              <img src="{{product.product_img_1.url}}" class="card-img-top" alt="..." id="mainImg">
            </div>
            <div class="other-images">
              {%if product.product_img_2 != "default.jpg" %}
              <img src="{{product.product_img_1.url}}" class="card-img-bottom" alt="..." id="thumb1">
              <img src="{{product.product_img_2.url}}" class="card-img-bottom" alt="..." id="thumb2">
              {%endif%}
              {%if product.product_img_3 != "default.jpg" %}
              <img src="{{product.product_img_3.url}}" class="card-img-bottom" alt="..." id="thumb3">
              {%endif%}
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 product-card">
            <div class="singleproduct-details">
                <h2 class="singleproduct-heading">PRODUCT DETAILS</h2>
                <h3 class="singleproduct-name">{{product.product_name}}</h3>
                <h3 class="singleproduct-price">{{product.product_price|currency}}</h3>
                <p class="singleproduct-description"><strong>Description</strong></p>
                <p class="singleproduct-description">{{product.product_description}} </p>
                <hr class="description-line">
                <form action="" method="post">
                  {%csrf_token%}
                <div class="singleproduct-button">                    
                    <div class="size-description">
                        <input name="size_choice" type="hidden" id="choice_size" value="">
                        {%if product.product_sizes.1|length > 2 %}
                          {%for color in product.product_sizes %}
                            <button type="button" class="measurement size_choice color-box active" style="background-color: {{color}};color: transparent;"> {{color}}</button>
                          {%endfor%}
                        {%else%}
                          {%for size in size_options%}
                          {%if size in product.product_sizes%}
                            <button type="button" class="measurement size_choice active">{{size}}</button>
                          {%else%}
                            <button type="button" class="measurement  deactivate"  disabled>{{size}}</button>
                          {%endif%} 
                          {%endfor%}
                        {%endif%}
                    </div>
                    {% if product in saved_items %}
                    <img src="{% static 'images/favourite_activate.svg' %}"  class="singleproduct-favourite-icon add_to_fav" id="{{product.id}}" alt="...">
                    {%else%}
                    <img src="{% static 'images/greenheart.svg' %}" class="singleproduct-favourite-icon add_to_fav" id="{{product.id}}" alt="">
                    {%endif%}
                    <div class="number">
                        <button type="button" id="decrement" class="goods-number" ><i  class="bi bi-dash " ></i></button>
                        
                        <span type="button"><input name="quantity" type="hidden" id="input"  value={{item_qty}}> <p id="input_value">{{item_qty}}</p> </span>
                        
                        <button type="button" id="increment" class="goods-number"><i  class="bi bi-plus " ></i></button>
                    </div>
                    
                    <!-- <button class="addtocart-button refresh-cart add_to_cart" id="{{product.id}}" type="button" ><a href="#">ADD TO CART<i class="bi bi-cart2"></i></a></button> -->
                    <button class="addtocart-button" type="submit" >ADD TO CART<i class="bi bi-cart2"></i></button>
                </div>
              </form>
                <hr class="description-line">
                <h2 class="singleproduct-heading">DELIVERY & RETURN POLICY</h2>
                <p class="singleproduct-description"><strong>Delivery</strong></p>
                <p class="singleproduct-description">Due to high demand, the time frame for sale orders despatch may be extended by up to 6 working days.Contact us here</p>
                <p class="singleproduct-description"><strong>Return</strong></p>
                <p class="singleproduct-description">Regular sale items can be returned for exchange or refund by online store credit only.Sale</p>
            </div>
        </div>
    </div>
  </section>

  <section id="suggestions">
    <div class="product-top">
      <h2 class="suggestion-heading">MORE SUGGESTIONS</h2>
    </div>

    <div class="row g-4">
        {%for prod in prod_suggestions%}
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 product-card">
        <a href="{% url 'single-prod-page' prod_name=prod.product_name %}">
        <div class="card card-design">
          <div class="card-img">
            <div class="collectionTag-box">
              <img src="{{prod.collection.collection_tag.url}}" class="collection-tag" alt="">
            </div>
            <img src="{{prod.product_img_1.url}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body suggestion-body">
            <h3 class="suggestion-title">{{prod.product_name}}</h3>
            <div class="product-info">
              <p class="suggestion-price">{{prod.product_price|currency}}</p>
              <div class="option-button">
                <img src="{% static 'images/Black-heart.svg' %}" class="suggestion-svg" alt="...">
                <img src="{% static 'images/Wheel-cart.svg' %}" class="suggestion-svg" alt="...">
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      {%endfor%}
    </div>
  </section>

{%endblock content%}
</body>
</html>