<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% load static %}
    {%block title%} Shop all @ NaestPoint {%endblock title%}
  
  <body>
  {%block content%}
  <!-- Accessories -->

  <section id="men-product">
    <div class="men-top">
        <img src="images/Accessories-image.png" class="men-image" alt="">
    </div>
    <div class="men-product-top">
      <h2 class="men-product-heading">ACCESSORIES</h2>
      <P class="men-product-text">We have Shoes, Bags, Sandals, Watches, Bangles and Glasses available for you</P>
    </div>
    <div class="row g-4 men-display">
      <div class="accessHeading-container">
        <h4 class="accessories-heading">BAGS</h4>
        <button class="accessories-message"><a href="bags.html">See more  <i class="fa-solid fa-chevron-right"></i></a></button>
      </div>
        <div class="col-md-12 col-lg-6 product2-card">
          <a href="">
            <div class="card card-design product2-container">
              <div class="card-img">
                <img src="images/Accessories-bag.svg" class="card-img-top" alt="...">
              </div>
              <div class="card-body product2-body">
                <div class="option2-button">
                  <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                  <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                </div>
                <div class="product2-info">
                  <h3 class="product-title">Lauren Ralph Polo</h3>
                  <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                  <p class="product-price">N9,900.50</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-6 product2-card">
          <div class="card card-design product2-container">
            <div class="card-img">
              <img src="images/Accessories-bag.svg" class="card-img-top" alt="...">
            </div>
            <div class="card-body product2-body">
              <div class="option2-button">
                <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
              </div>
              <div class="product2-info">
                <h3 class="product-title">Lauren Ralph Polo</h3>
                <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choi
                <p class="product-price">N9,900.50</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accessHeading-container">
          <h4 class="accessories-heading">GLASSES</h4>
          <button class="accessories-message">See more  <i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="col-md-12 col-lg-6 product2-card">
          <div class="card card-design product2-container">
            <div class="card-img">
              <img src="images/Accessories-glasses.svg" class="card-img-top" alt="...">
            </div>
            <div class="card-body product2-body">
              <div class="option2-button">
                <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
              </div>
              <div class="product2-info">
                <h3 class="product-title">Lauren Ralph Polo</h3>
                <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choi
                <p class="product-price">N9,900.50</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 product2-card">
          <div class="card card-design product2-container">
            <div class="card-img">
              <img src="images/Glasses2.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body product2-body">
              <div class="option2-button">
                <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
              </div>
              <div class="product2-info">
                <h3 class="product-title">Lauren Ralph Polo</h3>
                <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choi
                <p class="product-price">N9,900.50</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accessHeading-container">
          <h4 class="accessories-heading">SHOES</h4>
          <button class="accessories-message">See more  <i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="col-md-12 col-lg-6 product2-card">
            <a href="">
              <div class="card card-design product2-container">
                <div class="card-img">
                  <img src="images/Accessories-shoe.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body product2-body">
                  <div class="option2-button">
                    <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                    <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                  </div>
                  <div class="product2-info">
                    <h3 class="product-title">Lauren Ralph Polo</h3>
                    <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
          
                    <p class="product-price">N9,900.50</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-12 col-lg-6 product2-card">
            <div class="card card-design product2-container">
              <div class="card-img">
                <img src="images/Accessories-shoe.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body product2-body">
                <div class="option2-button">
                  <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                  <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                </div>
                <div class="product2-info">
                  <h3 class="product-title">Lauren Ralph Polo</h3>
                  <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                  <p class="product-price">N9,900.50</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accessHeading-container">
            <h4 class="accessories-heading">WATCHES</h4>
            <button class="accessories-message">See more  <i class="fa-solid fa-chevron-right"></i></button>
          </div>
          <div class="col-md-12 col-lg-6 product2-card">
            <div class="card card-design product2-container">
              <div class="card-img">
                <img src="images/Accessories-watch.svg" class="card-img-top" alt="...">
              </div>
              <div class="card-body product2-body">
                <div class="option2-button">
                  <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                  <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                </div>
                <div class="product2-info">
                  <h3 class="product-title">Lauren Ralph Polo</h3>
                  <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                  <p class="product-price">N9,900.50</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 product2-card">
            <div class="card card-design product2-container">
              <div class="card-img">
                <img src="images/Accessories-watch.svg" class="card-img-top" alt="...">
              </div>
              <div class="card-body product2-body">
                <div class="option2-button">
                  <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                  <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                </div>
                <div class="product2-info">
                  <h3 class="product-title">Lauren Ralph Polo</h3>
                  <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                  <p class="product-price">N9,900.50</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accessHeading-container">
            <h4 class="accessories-heading">SANDALS</h4>
            <button class="accessories-message">See more  <i class="fa-solid fa-chevron-right"></i></button>
          </div>
          <div class="col-md-12 col-lg-6 product2-card">
              <a href="">
                <div class="card card-design product2-container">
                  <div class="card-img">
                    <img src="images/Sandals1.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card-body product2-body">
                    <div class="option2-button">
                      <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                      <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                    </div>
                    <div class="product2-info">
                      <h3 class="product-title">Lauren Ralph Polo</h3>
                      <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
            
                      <p class="product-price">N9,900.50</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-12 col-lg-6 product2-card">
              <div class="card card-design product2-container">
                <div class="card-img">
                  <img src="images/Sandals2.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body product2-body">
                  <div class="option2-button">
                    <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                    <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                  </div>
                  <div class="product2-info">
                    <h3 class="product-title">Lauren Ralph Polo</h3>
                    <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                    <p class="product-price">N9,900.50</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accessHeading-container">
              <h4 class="accessories-heading">BANGLES</h4>
              <button class="accessories-message">See more  <i class="fa-solid fa-chevron-right"></i></button>
            </div>
            <div class="col-md-12 col-lg-6 product2-card">
              <div class="card card-design product2-container">
                <div class="card-img">
                  <img src="images/Bangle1.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body product2-body">
                  <div class="option2-button">
                    <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                    <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                  </div>
                  <div class="product2-info">
                    <h3 class="product-title">Lauren Ralph Polo</h3>
                    <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                    <p class="product-price">N9,900.50</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 product2-card">
              <div class="card card-design product2-container">
                <div class="card-img">
                  <img src="images/Bangle2.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body product2-body">
                  <div class="option2-button">
                    <img src="./images/Black-heart.svg" class="nav-svg" alt="...">
                    <img src="./images/Wheel-cart.svg" class="nav-svg" alt="...">
                  </div>
                  <div class="product2-info">
                    <h3 class="product-title">Lauren Ralph Polo</h3>
                    <p class="product-description">This material is meant from a jean factory in Naples, and it comes in many varieties of your choice</p>
                    <p class="product-price">N9,900.50</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </section>
{%endblock content%}
</body>
</html>