<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% load static %}
    {%block title%} Accessories @ NaestPoint {%endblock title%}
  
  <body>
  {%block content%}
  <!-- Accessories -->

  <section id="men-product">
    <div class="men-top">
        <img src="images/Accessories-image.png" class="men-image" alt="">
    </div>
    <div class="men-product-top">
      <h2 class="men-product-heading">ACCESSORIES</h2>
      <P class="men-product-text">We have Shoes, Bags, Sandals, Watches, Bangles and Glasses available for you</P>
    </div>
    <div class="row g-4 accessories-display">
      <div class="accessHeading-container">
        {%if query == "ACCESSORIES"%}
        <h4 class="accessories-heading">ALL</h4>
        {%else%}
        <h4 class="accessories-heading">{{query}}</h4>
        {%endif%}
      </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div class="accessories-left">
            <div class="accessories-option1">
              {%if query == 'ACCESSORIES' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'ACCESSORIES'%}"><p class="account-info">All</p></a>
              </div>
              {%if query == 'BAGS' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'BAGS'%}"><p class="account-info">Bags</p></a>
              </div>
              {%if query == 'GLASSES' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'GLASSES'%}"><p class="account-info">Glasses</p></a>
              </div>
              {%if query == 'SHOES' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'SHOES'%}"><p class="account-info">Shoes</p></a>
              </div>
            </div>
            <div class="accessories-option2">
              {%if query == 'WATCHES' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}       
                <a href="{% url 'category-page' 'WATCHES'%}"><p class="account-info">Watches</p></a>
              </div>
              {%if query == 'SANDALS' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'SANDALS'%}"><p class="account-info">Sandals</p></a>
              </div>
              {%if query == 'BANGLES' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'BANGLES'%}"><p class="account-info">Bangles</p></a>
              </div>
              {%if query == 'PERFUMES' %}<div class="accessories-description intro">{%else%}<div class="accessories-description">{%endif%}
                <a href="{% url 'category-page' 'PERFUMES'%}"><p class="account-info">Perfumes</p></a>
              </div>
              <!-- <div class="accessories-description">       
                <p class="account-info">Others</p>
              </div> -->
            </div>
          </div>
        </div>
        {%if 0 == page_obj|length %}
        <div class="col-sm-6 col-md-6 col-lg-4 product2-card">
          <br><br>
        <p>There are currently no {{query}} at the moment</p>
        </div>
        {%endif%}
        {%for prod in page_obj %}
        <div class="col-sm-6 col-md-6 col-lg-4 product2-card">
          <a href="{% url 'single-prod-page' prod_name=prod.product_name %}">
          <div class="card card-design product2-container">
            <div class="card-img">
              <div class="collectionTag-box">
                <img src="{{prod.collection.collection_tag.url}}" class="collection-tag" alt="">
              </div>
              <img src="{{prod.product_img_1.url}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body product2-body">
            </a>
              <div class="option2-button">
                {% if prod in saved_items %}
              <img src="{% static 'images/favourite_activate.svg' %}"  class="nav-svg add_to_fav" id="{{prod.id}}" alt="...">
              {%else%}
              <img src="{% static 'images/Black-heart.svg' %}"  class="nav-svg add_to_fav" id="{{prod.id}}" alt="...">
              {%endif%}
              <img src="{% static 'images/Wheel-cart.svg' %}" class="nav-svg add_to_cart" id="{{prod.id}}"  alt="...">
              </div>
              <div class="product2-info">
                <a href="{% url 'single-prod-page' prod_name=prod.product_name %}">
                  <h3 class="product-title">{{prod.product_name|truncatechars:19}}</h3>
                  <p class="product-description">{{prod.product_description|slice:54}}</p>
                  <div class="sizes">
                    {%if prod.product_sizes.1|length > 2 %}
                      {%for color in prod.product_sizes %}
                        <button type="button" class="size color-box deactivate" style="background-color: {{color}};"></button>
                      {%endfor%}
                    {%else%}
                      {%if 'SM' in prod.product_sizes %}
                        <button type="button" class="size sm active"> SM</button>
                      {%else%}
                        <button type="button" class="size sm deactivate"  disabled> SM</button>
                      {%endif%}
                      {%if 'MD' in prod.product_sizes %}
                        <button type="button" class="size sm active"> MD</button>
                      {%else%} 
                        <button type="button" class="size md deactivate" disabled> MD</button>
                      {%endif%}
                      {%if 'LG' in prod.product_sizes %}
                        <button type="button" class="size sm active"> LG</button>
                      {%else%} 
                        <button type="button" class="size lg deactivate" disabled> LG</button>
                      {%endif%}
                      {%if 'XL' in prod.product_sizes %}
                        <button type="button" class="size sm active"> XL</button>
                      {%else%} 
                        <button type="button" class="size xl deactivate" disabled>XL</button>
                      {%endif%}
                  {%endif%}
                  </div>

                  <p class="product-price">{{prod.product_price|currency}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}     
    </div>
    {%if page_obj.0%}      
      <div class="pages">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="directions"><i class="bi bi-chevron-left"></i></button></a>
            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="page three"> {{page_obj.previous_page_number }}</button></a> 
            {% endif %}
  
            <a href="?page={{ page_obj.number }}"><button type="button" class="page one current-page"> {{page_obj.number}}</button></a>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="page two"> {{page_obj.next_page_number }}</button></a>
            <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="directions"><i class="bi bi-chevron-right"></i></button></a>
            {% endif %}
        </span>
    </div>
    {%endif%} 
  </section>

{%endblock content%}
</body>
</html>