
<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}
  {%block title%} {{design_brand}} Collection {%endblock title%}


<body>
{%block content%}

  <!-- Nav Bar -->
  

  <!-- Collection -->
  <section id="collection">
{%if page_obj.number == 1 %}
    <div class="row g-4 images">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 product-card">
            <div class="main-image">
                <img src="{{design_brand.collection_img_1.url}}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 product-card">
            <div class="main-image">
                <img src="{{design_brand.collection_img_2.url}}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 product-card">
            <div class="about-collection">
                <h2 class="singleproduct-heading">ABOUT {{design_brand.collection_name}}</h2>
                <p class="singleproduct-description">{{design_brand.collection_description}}</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
            <div class="main-image">
                <img src="{{design_brand.collection_img_3.url}}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
            <div class="main-image">
                <img src="{{design_brand.collection_img_4.url}}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 product-card">
            <div class="landscape-image">
                <img src="{{design_brand.collection_img_5.url}}" class="card-img-landscape" alt="...">
            </div>
        </div>
    </div>
{%endif%}
  </section>
  <section id="items">
    <div class="product-top load-hidden">
        <h2 class="collectionItems-heading">ITEMS FROM {{design_brand.collection_name}}</h2>
    </div>

    <div class="row g-4">
      {%for prod in page_obj%}
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
          <a href="{%url 'single-prod-page' prod.product_name %}">
          <div class="card card-design">
            <div class="card-img">
              <div class="collectionTag-box">
                <img src="{{prod.collection.collection_tag.url}}" class="collection-tag" alt="">
              </div>
              <img src="{{prod.product_img_1.url}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body product-body">
              <h3 class="product-title">{{prod.product_name|truncatechars:19}}</h3>
              <div class="sizes">
                {%if prod.product_sizes.1|length > 2 %}
                  {%for color in prod.product_sizes %}
                  <button type="button" class="size color-box deactivate" style="background-color: {{color}};"></button>
                  {%endfor%}
                {%else%}
                  {%for size in size_options%}
                  {%if size in prod.product_sizes%}
                    <button type="button" class="size sm active">{{size}}</button>
                  {%else%}
                    <button type="button" class="size sm deactivate"  disabled>{{size}}</button>
                  {%endif%} 
                  {%endfor%}
                {%endif%}
              </div>
              <div class="product-info">
                <p class="product-price">{{prod.product_price|currency}}</p>
              </a>
                <div class="option-button">
                  {% if prod in saved_items %}
                  <img src="{% static 'images/favourite_activate.svg' %}"  class="nav-svg add_to_fav" id="{{prod.id}}" alt="...">
                  {%else%}
                  <img src="{% static 'images/Black-heart.svg' %}"  class="nav-svg add_to_fav" id="{{prod.id}}" alt="...">
                  {%endif%}
                  {%if prod.product_name in cart.product_names%}
                  <img src="{% static 'images/cart_activate.svg' %}"  class="nav-svg id_{{prod.id}} add_to_cart" id="{{prod.id}}" alt="...">
                  {%else%}
                  <img src="{% static 'images/Wheel-cart.svg' %}" class="nav-svg id_{{prod.id}} add_to_cart" id="{{prod.id}}"  alt="...">
                  {%endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
        {%endfor%}
        
      <div class="pages">
          <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="directions"><i class="bi bi-chevron-left"></i></button></a>
              <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="page three"> {{page_obj.previous_page_number }}</button></a> 
              {% endif %}

              <a href="?page={{ page_obj.number }}"><button type="button" class="page one current-page"> {{page_obj.number}}.</button></a>
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="page two"> {{page_obj.next_page_number }}</button></a>
              <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="directions"><i class="bi bi-chevron-right"></i></button></a>
              {% endif %}
          </span>
      </div>
      </div>
  </section>
{%endblock content%}
</body>
</html>