<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Naest</title>
  <link href="https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>

<body>

  
  <!-- Nav Bar -->

  <special-header></special-header>

  <!-- Collection Page -->

  <section id="whats-hot">
    <div class="men-top">
      <h2 class="whats-hot-title">ALL COLLECTIONS</h2>
    </div>
    <div class="collection-padding">
      <div class="collectionList-container">
        <div class="collection-listing">
          <div class="collection-name">
            <h6 class="collection-heading">TOPROSE CLOTHING</h6>
          </div>
          <div class="collection-logo">
            <img src="images/Toprose-first-image.svg" class="collPage-img" alt="">
          </div>
          <div class="collection-button">
            <button type="button" class="coll-button"> <a href="#">View Products</a></button>
          </div>
        </div>
      </div>
      <div class="collectionList-container">
        <div class="collection-listing">
          <div class="collection-name">
            <h6 class="collection-heading">COOLLIFE COUTURE</h6>
          </div>
          <div class="collection-logo">
            <img src="images/Collife-first-image.png" class="collPage-img" alt="">
          </div>
          <div class="collection-button">
            <button type="button" class="coll-button"> <a href="#">View Products</a></button>
          </div>
        </div>
      </div>
      <div class="collectionList-container">
        <div class="collection-listing">
          <div class="collection-name">
            <h6 class="collection-heading">LEO DESIGN</h6>
          </div>
          <div class="collection-logo">
            <img src="images/Leo-first-image.png" class="collPage-img" alt="">
          </div>
          <div class="collection-button">
            <button type="button" class="coll-button"> <a href="#">View Products</a></button>
          </div>
        </div>
      </div>
      <div class="collectionList-container">
        <div class="collection-listing">
          <div class="collection-name">
            <h6 class="collection-heading">SOPHIE LINE</h6>
          </div>
          <div class="collection-logo">
            <img src="images/Sophie-first-image.png" class="collPage-img" alt="">
          </div>
          <div class="collection-button">
            <button type="button" class="coll-button"> <a href="#">View Products</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <special-footer></special-footer>

  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>