<!DOCTYPE html>
<html>
    {% extends "base.html" %} 
    {%load static%}
    {%block title%} Contact Us {%endblock title%}
  
  <body>
    {%block content%}
   <!-- Contact Us -->

   <section id="contact-us">
    <div class="contact-top">
        {% if messages %}
        {% for message in messages%}
          <div class="alert alert-{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
      <h2 class="product2-heading">WE WANT TO HEAR FROM YOU</h2>
      <P class="contact-text">Use the form below to drop us an e-mail. you can also call us with the number below</P>
    </div>

    <div class="row g-4">
      <div class="col-md-6 col-lg-6 blog-card left-contact">
        <div class="contact-map">
            <div class="contact-us-design">
            <i class="bi bi-telephone"></i>
            <div class="contact-info">
                <h5 class="contact-title">Call:</h5>
                <p class="contact-main">+2349062172678</p>
            </div>
            </div>
            <div class="contact-us-design">
            <i class="bi bi-envelope"></i>  
            <div class="contact-info">
                <h5 class="contact-title">Email:</h5>
                <p class="contact-main">info@naestpoint.com</p>
            </div>
            </div>
            <div class="contact-us-design">
            <i class="bi bi-geo-alt"></i>
            <div class="contact-info">
                <h5 class="contact-title">Location:</h5>
                <p class="contact-main">13 Adeyemi strt, Maryland</p>
            </div>
        </div>
        <div class="google-map">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.5494867782563!2d3.367706873588738!3d6.578396322525881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b926547d878d7%3A0xe98a85e3294ebbcd!2s13%20Adeoye%20Adeyemi%20Rd%2C%20Maryland%2C%20Ikeja%20101233%2C%20Lagos!5e0!3m2!1sen!2sng!4v1712079859257!5m2!1sen!2sng" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div> 
      </div>
      <div class="col-md-6 col-lg-6 blog-card right-card">
        <form class="contact-form" method="post">
            {%csrf_token%}
            <div class="mb-3">
                <label for="exampleInputText" class="form-label">Full Name</label>
                <input type="text" name="name" class="form-control payment-form" id="exampleInputName1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email</label>
                <input type="email" name="email" class="form-control payment-form" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputAddress" class="form-label">Subject</label>
                <input type="text" name="email_subject" class="form-control payment-form" id="exampleInputAddress1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your message:</label>
                <textarea name="email_content" class="form-control text-area" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <button type="submit" class="password-submit-button">SEND MESSAGE</button>
        </form>
      </div>
    </div>
  </section>
  {%endblock content%}
</body>
</html>