<!DOCTYPE html>
<html>
  {% extends "header.html" %}
  {% load static %}

<body>
{%block content%}
<section id="login">
    <div class="password-container">
      <h2 class="login-heading">FORGOT YOUR PASSWORD?</h2>
      <P class="password-message">Input your registered email address to start the process</P>
      {% if messages %}
        {% for message in messages%}
          <div class="alert alert-{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <div class="error-message">{{form.email.errors}}</div>
          <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label_tag}}</label>
          <input type="email" class="form-control payment-form" {{form.email}}
        </div>
        <button type="submit" class="password-submit-button">SUBMIT</button>
      </form>
    </div>
  </section>


{%endblock content%}

</body>

</html>