<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}
  {%block title%} {{user.first_name.title}}'s Profile  {%endblock title%}
<body>
{%block content%}

<section id="profile">
  <div class="cart-top">
    <img src=" {% static 'images/Profile-image.png'%}" class="cart-image" alt="">
  </div>
  <div class="row g-4 cart-container">
    <!-- display flash messages -->
    {% if messages %}
    {% for message in messages%}
      <div class="alert alert-{{message.tags}}">
        {{message}}
      </div>
    {% endfor %}
    {% endif %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
      <div class="account-left">
              <div class="account-option">
          {%if not order_history and not delete_account and not change_password%}<div class="account-description intro ">{%else%}<div class="account-description ">{%endif%}
            <i class="bi bi-person-square"></i>
             <a href="{% url 'user-profile' %}"><p class="account-info profile_focus">My Details</p></a>
          </div>
          {%if order_history%}<div class="account-description intro ">{%else%}<div class="account-description ">{%endif%}
            <i class="bi bi-bag-check"></i>
            <a href="{% url 'user-profile-edit' 'order_history' %}"><p class="account-info profile_focus">Order History</p></a>
          </div>
          {%if change_password%}<div class="account-description intro ">{%else%}<div class="account-description ">{%endif%}
            <i class="bi bi-file-lock2"></i>
            <!-- <a href="{% url 'user-profile-edit' option='change_password' %}"><p class="account-info">Change password</p></a> -->
            <a href="{% url 'change-password' %}"><p class="account-info profile_focus">Change password</p></a>
          </div>
          {%if delete_account%}<div class="account-description intro ">{%else%}<div class="account-description ">{%endif%}
            <i class="bi bi-file-lock2"></i>
            <a href="{% url 'user-profile-edit' 'delete_account' %}"><p class="account-info profile_focus">Delete Account</p></a>
            
          </div>
          <div class="account-description">
            <i class="bi bi-box-arrow-left"></i>
            <a href="{%url 'logout-page' %}"><p class="account-info profile_focus">Logout</p></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9">
      <div class="account-right">
        {%if edit %}
        <h2 class="cart-heading">EDIT MY DETAILS</h2>
        <hr class="heading-line">
        <i class="bi bi-pencil-square"></i>
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3 name-input">
            <div class="first-name">
              <p class=""> {{form.first_name.errors}}</p>
            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
            <input type="text" class="form-control payment-form"  {{form.first_name}}
            </div>
            <div class="last-name">
              {{form.last_name.errors}}
              <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
              <input type="text" class="form-control payment-form"  {{form.last_name}}
            </div>
          </div>
          <div class="mb-3 name-input">
            <div class="first-name">
              {{form.email.errors}}
            <label for="{{form.email.id_for_label}}" class="form-label">Email</label>
            <input type="email" class="form-control payment-form" {{form.email}}
            </div>
            <div class="last-name">
              {{form.phone_no.errors}}
              <label for="{{form.phone_no.id_for_label}}" class="form-label">Phone Number </label>
              <input type="tel" class="form-control payment-form" {{form.phone_no}}
            </div>
          </div>
          <div class="mb-3">
            {{form.address.errors}}
            <label for="{{form.address.id_for_label}}" class="form-label">Address</label>
            <textarea type="text" class="form-control payment-form"{{form.address}}
          </div>
          <button type="submit" class="account-submit-button">SAVE</button>
        </form>
        {%elif change_password%}
        <h2 class="cart-heading">CHANGE PASSWORD</h2>
        <hr class="heading-line">
        <form action="" method="post">
          {% csrf_token %}
          {%for field in form%}
          <div class="mb-3 name-input">
            <div class="first-name">
              <p class=""> {{field.errors}}</p>
            <label for="{{ field.id_for_label }}" class="form-label">{{field.label_tag}}</label>
            <input type="text" class="form-control payment-form"  {{field}}
            </div>
          </div>
          {%endfor%}
              <button type="submit" class="account-submit-button">CHANGE</button>
        </form>
        {% elif delete_account %}
        <h2 class="cart-heading">Confirm Account Deletion</h2>
        <hr class="heading-line">
        <a href="{% url 'user-profile' %}"><i class="bi bi-pencil-square">Cancel</i></a>

        <form action="" method="post">
          {%csrf_token%}
          <div>
              <p>Are you sure you want to delete this post</p>
          </div>
          <button type="submit" class="btn btn-danger">Yes, Delete</button>
          <a class="btn btn-primary" href="">No, Back to Details</a>
      </form>
      {%elif order_history%}
      <h2 class="cart-heading">ORDER HISTORY</h2>
        <hr class="heading-line">
        {%if specific_order%}
        <h3>Cart_id: {{cart_items.1.cart_id}}</h3>
        <div>
        <span> Product Name</span> <span>Product Price</span> <span>Product Qty</span>
      </div>
        {%for item in cart_items%}
        <div>
        <span> {{item.product.product_name}}</span> <span>{{item.product.product_price|currency}}</span> <span>{{item.quantity}}</span>
        </div>
        {%endfor%}
        {%else%}
      {%if processed_orders|length > 0 %}
      <span> Order_id</span>  <span>Total Order Qty</span> <span>Date</span>
      {%for order in processed_orders%}
      <li><a href="{% url 'user-profile-edit'  order.id %}"><span> {{order}} </span></a> <span> {{order.num_of_item}} </span> <span>{{order.date}}</span></li>
      {%endfor%}
      {%else%}
      <h3>
        You have not paid or completed any order yet.
      </h3>
      {%endif%}
      {%endif%}

        {%else%}
        <h2 class="cart-heading">MY DETAILS</h2>
        <hr class="heading-line">
        <a href="{% url 'user-profile-edit' option='edit' %}"><i class="bi bi-pencil-square">Edit</i></a>
        <div class="mb-3 name-input">
          <div class="first-name">
            <h4>First Name:<h4>
            <p>{{user.first_name.title}}</p>
          </div>
          <div class="last-name">
            <h4>Last Name:<h4>
              <p>{{user.last_name.title}}</p>
          </div>
        </div>
        <div class="mb-3 name-input">
          <div class="first-name">
            <h4>Email:<h4>
              <p>{{user.email}}</p>          
            </div>
          <div class="last-name">
            <h4>Phone:<h4>
              <p>{{user.phone_no}}</p>
          </div>
        </div>
        <div class="mb-3">
          <h4>Address:<h4>
            <p>{{user.address}}</p>        
          </div>  
      </div>
        {%endif%}
      </div>
    </div>
  </div>
</section>

{%endblock content%}

</body>

</html>